body{
    background-color: yellowgreen;
}

#score{
    font-size:30px;
    float:left;
    margin-left:10px;
}

#timer{
    font-size:30px;
    float:right;
    margin-right:10px;
}

p{
    color:rgb(43, 96, 117);
    font-weight:bolder;
    font-size:20px;
}

#show_sketch{
    float:right;
}

canvas{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius:20px;
    margin-top:75px;
}